<div class="p-5 container" [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item mb-5">
            <div class="kt-container">
                <div class="kt-subheader__main">
                    <h2 class="kt-subheader__title">
                        <span>{{ 'LegalDocumentSystem' | localize }}</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column">
            <!-- Button to add document, available only when logged in -->
            <button class="buttonAddDocument align-self-end mb-3" (click)="onOpenAddDoc()" *ngIf="isLoggedIn()">
                + {{ 'AddDocument' | localize }}
            </button>

            <!-- START SEARCHING -->
            <div class="documentSearchSystem">
                <h3>
                    <span>{{ 'FindDocument' | localize }}</span>
                </h3>

                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="searchForm">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field withoutArrow">
                                <mat-label>{{ 'loaiVanBan' | localize }}</mat-label>
                                <mat-select formControlName="loaiVanBan">
                                    <mat-option *ngFor="let loaiVanBan of loaiVanBanOptions" [value]="loaiVanBan">
                                        {{ loaiVanBan }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    class="close-icon-btn"
                                    mat-icon-button
                                    matSuffix
                                    *ngIf="searchForm.get('loaiVanBan').value"
                                    (click)="clearSelection('loaiVanBan', $event)"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field withoutArrow">
                                <mat-label>{{ 'nguoiKy' | localize }}</mat-label>
                                <mat-select formControlName="nguoiKy">
                                    <mat-option *ngFor="let nguoiKy of nguoiKyOptions" [value]="nguoiKy">
                                        {{ nguoiKy }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    class="close-icon-btn"
                                    mat-icon-button
                                    matSuffix
                                    *ngIf="searchForm.get('nguoiKy').value"
                                    (click)="clearSelection('nguoiKy', $event)"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field withoutArrow">
                                <mat-label>{{ 'coQuanBanHanh' | localize }}</mat-label>
                                <mat-select formControlName="coQuanBanHanh">
                                    <mat-option
                                        *ngFor="let coQuanBanHanh of coQuanBanHanhOptions"
                                        [value]="coQuanBanHanh"
                                    >
                                        {{ coQuanBanHanh }}
                                    </mat-option>
                                </mat-select>
                                <button
                                    class="close-icon-btn"
                                    mat-icon-button
                                    matSuffix
                                    *ngIf="searchForm.get('coQuanBanHanh').value"
                                    (click)="clearSelection('coQuanBanHanh', $event)"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field">
                                <mat-label>{{ 'banHanhTuNgay' | localize }}</mat-label>
                                <input matInput [matDatepicker]="fromDatePicker" formControlName="banHanhTuNgay" />
                                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #fromDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field">
                                <mat-label>{{ 'banHanhDenNgay' | localize }}</mat-label>
                                <input matInput [matDatepicker]="toDatePicker" formControlName="banHanhDenNgay" />
                                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #toDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="fill" class="search-field">
                                <mat-label>{{ 'tuKhoaTimKiem' | localize }}</mat-label>
                                <input matInput formControlName="tuKhoaTimKiem" placeholder="Tìm kiếm" />
                                <button
                                    class="close-icon-btn"
                                    mat-icon-button
                                    matSuffix
                                    *ngIf="searchForm.get('tuKhoaTimKiem').value"
                                    (click)="clearSelection('tuKhoaTimKiem', $event)"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 fit-content">
                            <button
                                mat-raised-button
                                type="button"
                                class="btn btn-outline-danger"
                                (click)="onRemoveInput($event)"
                            >
                                {{ 'Remove' | localize }}
                            </button>
                        </div>
                        <div class="col-md-6 fit-content">
                            <button mat-raised-button type="submit" class="btn btn-primary">
                                {{ 'Find' | localize }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- END SEARCHING -->
        </div>

        <!-- START TABLE DISPLAY -->
        <div class="kt-container kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body kt-portlet__body--fit">
                    <h3>{{ 'LegalDocument' | localize }}</h3>
                    <!-- START: TABLE -->
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="legalDocuments">
                            <!-- Iterate over displayedColumns array to dynamically create table columns -->

                            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                <th
                                    class="table-header"
                                    mat-header-cell
                                    *matHeaderCellDef
                                    [style.width]="getColumnData(column).columnWidth"
                                >
                                    {{ column | localize }}
                                </th>
                                <td
                                    class="table-cell"
                                    mat-cell
                                    *matCellDef="let element"
                                    [ngClass]="{ 'text-center': getColumnData(column).isCentered }"
                                    (click)="onOpenUpdateDoc(element)"
                                >
                                    <ng-container *ngIf="getColumnData(column).isDate; else otherColumn">
                                        {{ formatDateTime(element[column]) }}
                                    </ng-container>
                                    <ng-template #otherColumn>{{ element[column] }}</ng-template>
                                </td>
                            </ng-container>

                            <!-- Header row -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <!-- Data rows -->
                            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="hoveredRow"></tr>
                        </table>

                        <mat-paginator
                            [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons
                            aria-label="Select page of legal documents"
                        ></mat-paginator>
                    </div>
                    <!-- END: TABLE -->
                </div>
            </div>
        </div>
        <!-- END TABLE DISPLAY -->
    </div>
</div>
